<html>
    <head>
        <title>Lucky Cake Tray</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    {% block content %}
    <script>
        window.onload = Play;
        function Play(){
            //document.getElementById('ledon').onclick = function(){alert($('#select').val())};
            document.getElementById('ledon').onclick = function(){location.href="'{% url 'led' pk=11%}"};
            document.getElementById('ledoff').onclick = function(){location.href="'{% url 'led' pk=10%}"};
            document.getElementById('audioon').onclick = function(){location.href="'{% url 'audio' pk=21%}"};
            document.getElementById('audiooff').onclick = function(){location.href="'{% url 'audio' pk=20%}"};
            //document.getElementById('ledon').onclick = function(){alert($('#musicon').val())};
            //document.getElementById('musicoff').onclick = function(){alert($('#musicoff').val())};
        };
        </script>
    <body>
        
        <form>
        <div class="panel panel-danger">
        <div class="panel-heading">
                <h3 class="panel-title">Lucky Cake Tray</h3>
        </div>
        </div>
        <div class="panel-body">
            <select id="select" class="form-control">
                {% for clientname in clientnames %}
                <option value={{clientname}}>{{ clientname }}</option>
                {% endfor %}
            </select>        

        <br>
        <div class="col-sm">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title">조명</h3>
                </div>
                <div class="panel-body">
                <button type="button" id="ledon" class="btn btn-success" value="11" onclick="Play()">시작</button>
                <button type="button" id="ledoff" class="btn btn-warning" value="10" onclick="Play()">종료</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title">음악</h3>
                </div>
                <div class="panel-body">
                <a href="{% url 'audio' pk=21 %}"><button type="button" id="musicon" class="btn btn-success" onclick="Play()" value="21">시작</button></a>
                <a href="{% url 'audio' pk=20 %}"><button type="button" id="musicoff" class="btn btn-warning" onclick="Play()" value="20">종료</button></a>            
                </div>
            </div>
            </div><!-- /.col-sm-4 -->
        </div> <!--pannel body-->    
        {% endblock %}

    </form>
    </body>
</html>

